<%= turbo_frame_tag product_list do %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-center">
        <%= product_list.name %>
      </h5>
    </div>
    <div class="card-body">
      <%= link_to "Modifier",
          [:edit, product_list],
          class: "card-link btn btn-success" %>

      <%= link_to "Voir",
                    product_list,
                    class: 'card-link btn btn-primary' %>

      <%= link_to "Supprimer",
                  product_list,
                  class: "card-link btn btn-danger",
                  data: { turbo_method: :delete } %>
    </div>
  </div>
<% end %>
