<%= turbo_stream_from @product_list, "product_items" %>

<div class="text-center">
  <%= link_to "Retour", product_lists_path, class: 'text-decoration-none' %>
  <h1><%= @product_list.name %></h1>
</div>

<br>

<%= render "product_items/form", product_list: @product_list, product_item: @product_item %>

<br>

<%= turbo_frame_tag "product_items" do %>
  <% @product_list.items.includes(:list).each do |item| %>
    <%= render item %>
  <% end %>
<% end %>
