<%= render @product_list %>

<%= render "product_items/form", product_list: @product_list, product_item: @product_item %>

<div id="product_items">
  <% @product_list.items.each do |item| %>
    <%= render item if item.persisted? %>
  <% end %>
</div>

<div>
  <%= link_to "Retour", product_lists_path %>

  <%= button_to "Supprimer", @product_list, method: :delete %>
</div>
